body{
    margin: 0;
    padding: 0;
    font-family: Dancing Script;
    background-color: beige;
    /* width: 100vw; */
}
.container{
    width: 100vw;
}
#navbar{
    height: auto;
    /* position: sticky; */
    background: linear-gradient(to right,#9b5de5,#f15bb5 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width:100%;
}
#logo{
    height: 50px;
    width: 50px;
    margin: 20px;
    border-radius: 50%;
}
.leftNav{
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.3s ease;
}
.leftNav:hover{
   transform: translateY(-10px);
   transition: 0.2s;
}
.leftNav>a{
    font-size: xx-large;
    color: white 2px solid;
}
.rightNav{
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
/* .rightNav>img{
    height: 50px;
    width: 50px;
    margin: 20px;
    border-radius: 50%;
} */
#home>img{
    height: 20px;
    padding: 10px;
}
#home>a{
    padding:10px 10px 10px 0;
    font-size: 1rem;
}
#home{
    background-color: white;
    color: #9b5de5;
    padding: 5px;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#assignment>img{
    height: 20px;
    padding: 10px;
}
#assignment>a{
    padding:10px 10px 10px 0;
    font-size: 1rem;
}
#assignment:hover{
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 30px;
    
}
#assignment{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
}
#profile>img{
    height: 20px;
    padding: 10px;
}
#profile>a{
    padding:10px 10px 10px 0;
    font-size: 1rem;
}
#profile:hover{
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 30px;
}
#profile{
   padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
}
#welcomeHeader{
    margin:5vmin 10vmin;
    background: linear-gradient(to right,#9b5de5,#f15bb5 );
    height: auto;
    color: white;
    border-radius: 30px;
    padding: 2px 2px 20px 10px;
}
#sparkle{
    animation: fade 2s infinite alternate;
    width: auto;
 
}
@keyframes fade{
    0%{
        opacity: 2;
    }
    100%{
        opacity: 0.2;
    }
}
#text{
    display: flex;
    flex-wrap: wrap;

}
#welcomeHeader>h1{
    margin-top: 0px;
     width: auto;
}
/* #welcomeHeader>h{
    margin-top: 2px;
} */
#book{
     margin-left: auto;
     opacity: 0.4;
}
@media screen and (max-width:300px) {
    #text>h2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:950px) {
   #home >a{
        display: none;
   }
   #assignment >a{
        display: none;
   }
   #profile >a{
        display: none;
   }
   .rightNav{
        width: 45vw;
   }
   .leftNav>a{
        font-size: x-large;
   }
}
#taskRemain{
    color: yellow;
}
#welcomeHeader>span{
    font-size:1.6rem;
}
.reportingboxes{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: auto;
    /* width: 100vw; */
    /* flex-wrap: wrap; */
}
.boxes{
    border: gray solid 3px;
    width: 20vw;
    text-align: center;
    background-color: aliceblue;
    border-radius: 40px;
    margin: 0px 20px;
    font-size: medium;
    padding: 0 0 3px 0;
    transition: transform 0.3s ease;
    flex-wrap: wrap;
}

.boxes:hover{
    transform: translateY(-20px);
   transition: 0.1s;
}
@media screen and (max-width:850px) {
 .reportingboxes{
    flex-direction: column;
    align-items: center;
    gap: 30px;
 }
 .boxes{
    width: 40vw;
  
 }
}
.myAssHeader{
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    /* margin: 40px 80px; */
    flex-wrap: wrap;
}
#trophy{
    height: 40px;
}
.LeftHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17vw;
    flex-wrap: wrap;
    margin: 20px;
}
.RightHeader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 8vw;
    flex-wrap: wrap;
    margin: 50px;
}
#Arrow{
    height: 30px;
}
.RightHeader>h4{
    color: rgb(75, 74, 74);
}
.ImgOfAss{
    height: 50px;
}
.clock{
    height: 20px;
}
.subWork{
    font-size: 1.2rem;
}

.MyAssignments{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    gap: 30px 0px;
    /* width: 100vw; */
}
.MyAssBox{
    width: 30vw;
    background-color: aliceblue;
    text-align: center;
    border-radius: 30px ;
    
}
@media screen and (max-width:700px) {
    .MyAssignments{
     flex-direction: column;
    align-items: center;
    gap: 30px;
}
.MyAssBox{
    width: 70vw;
}
.start{
     width: 5vw; 
     height: 30px;
     margin: 10px;
     border-radius: 30px;
}
}
.design{
    height: 20px;
    border-radius: 30px   30px 0px  0px;
}
/* #AB1{

} */
#AB1>.design{
    background: linear-gradient(to right,purple,hotpink);   
}
#AB2>.design{
     background: linear-gradient(to right,rgb(253, 233, 50),orange);
}
#AB3>.design{
     background: linear-gradient(to right,rgb(117, 202, 238),rgb(42, 144, 233));
}
#AB4>.design{
     background: linear-gradient(to right,rgb(135, 216, 95),rgb(6, 199, 86));
}
#AB5>.design{
     background: linear-gradient(to right,rgb(236, 82, 146),rgb(240, 18, 77));
}
#AB6>.design{
     background: linear-gradient(to right,rgb(36, 116, 91),rgb(4, 97, 72));
}
.upper{
    margin-top: 10px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.updation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    /* margin-top:10px ; */
}

.submittion{
    /* width: 20%; */
     display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 30px; */
}
.YourWork{
    height: 15px;
    width: auto;
    padding: 5px 10px;
    border-radius: 30px;
    color: azure;
    display: flex;
    align-items: center;
    /* margin-top:10px ; */
    font-size: small;
    /* align-items: center; */
}
#work1,#work3,#work6{  
    background-color: rgb(79, 163, 232);
    text-align: center;
}
#work2,#work5{
    background-color: rgb(225, 168, 44);
    text-align: center;
}
#work4{
    background-color: rgb(26, 155, 12);
    text-align: center;
}
.submittion{
    display: flex;
    margin: 10px;
    gap: 5px;
    align-items: center;
    margin-right: 20px;
}

.start{
     width: 400px;
     height: 30px;
     margin: 10px;
     border-radius: 30px;
}

#start1{
     background: linear-gradient(to right,purple,hotpink); 
}
#start2{
     background: linear-gradient(to right,rgb(253, 233, 50),orange);
}
#start3{
     background: linear-gradient(to right,rgb(117, 202, 238),rgb(42, 144, 233)); 
}
#start4{
     background: linear-gradient(to right,rgb(135, 216, 95),rgb(6, 199, 86));
}
#start5{
     background: linear-gradient(to right,rgb(236, 82, 146),rgb(240, 18, 77));
}
#start6{
     background: linear-gradient(to right,rgb(36, 116, 91),rgb(4, 97, 72));
}