body{
    margin: 0;
    padding: 0;
    font-family: Dancing Script;
}
#navbar{
    height: auto;
    position: sticky;
    background: linear-gradient(to right,#9b5de5,#f15bb5 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#logo{
    height: 50px;
    width: 50px;
    margin: 20px;
    border-radius: 50%;
}
.leftNav{
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.3s ease;
}
.leftNav:hover{
   transform: translateY(-10px);
   transition: 0.2s;
}
.leftNav>a{
    font-size: xx-large;
    color: white 2px solid;
}
.rightNav{
    width: 25vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
#home{
    background-color: white;
    color: #9b5de5;
    padding: 10px;
    border-radius: 30px;
}
#assignment:hover{
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 30px;
}
#assignment{
    padding: 10px;
}
#profile:hover{
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 30px;
}
#profile{
   padding: 10px;
}
#welcomeHeader{
    margin:5vmin 10vmin;
    background: linear-gradient(to right,#9b5de5,#f15bb5 );
    height: auto;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    color: white;
    border-radius: 30px;
    padding: 2px 7px;
}
#sparkle{
    animation: fade 2s infinite alternate;
    /* display: inline-flex; */
    width: auto;
 
}
@keyframes fade{
    0%{
        opacity: 2;
    }
    100%{
        opacity: 0.2;
    }
}
#text{
    display: flex;
    flex-wrap: wrap;

}
#welcomeHeader>h1{
    margin-top: 0px;
     width: auto;
}
/* #welcomeHeader>h{
    margin-top: 2px;
} */
#book{
     margin-left: auto;
     opacity: 0.4;
}
@media screen and (min-width:300px) {
    #text>h2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}